{%  extends "base.html" %}

<!--<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{{ month_name  }} Challenge tab name </title>


</head>
<body>-->

{% block page_title%}

{{ month_name | title}} challenge

{%endblock%}

{% block content%}

   

    {% include "Challenges/includes/header.html" %}
    <h1>{{ month_name | title}} challenge </h1>
    {% if text is not None %}
        <h2>{{ text | title }}</h2>
    {% else %}

        <p> There is no challenge for this month </p>

    {% endif %}
    
{%endblock%}